* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.teacher-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.teacher-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.teacher-photo img {
    width: 100%;
    height: auto;
}

.sidebar {
    height: 200px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: lightblue;
    }
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    .body-text {
    margin-right: 150px;
    font-size: 18px;
    }
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}