* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.teacher-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.teacher-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.teacher-photo img {
    width: 100%;
    height: auto;
}

.sidebar {
    height: 200px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: lightblue;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

.body-text {
margin-right: 150px;
font-size: 18px;
}

footer {
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* The sidebar menu */
.sidenav {
    display: inline;
    /* height: 100%; Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    /* position:static; Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.content {
    /* display: inline; */
}

main {
    display: flex;
    vertical-align: top;
    flex-grow: 1;
}

#wraper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}