<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}EasyEdu{% endblock %}</title>
    {% load static %}
    {% block statics %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body>
    <div id="wraper">
        <header>
            {% block header %}
            <h1>EasyEdu</h1>
            <nav>
                <ul>
                    <li><a href="/accounts/logout">Выход</a></li>
                </ul>
            </nav>
            {% endblock %}
        </header>

        <main>
          {% block sidebar %}
          <div class="sidenav">
              <div><a>Menu Item 1</a></div>
              <div><a>Menu Item 2</a></div>
              <div><a>Menu Item 3</a></div>
          </div>
          {% endblock %}
          
          {% block content %}
          <div class="main_content">
            <h1>КОНТЕНТ</h1>
          </div>
          {% endblock %}
        </main>

        <footer>
            <p>EasyEdu &copy; 2021</p>
        </footer>
    </div>
</body>
</html>