<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>EasyEdu</title>
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
</head>
<body>
    <header>
        <h1>EasyEdu</h1>
        <nav>
            <ul>
                <li><a href="{% url 'registration' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Авторизация</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="box">
              <h2>О нас</h2>
              <p>Онлайн платформа для проведения занятий</p>
              <p>Даём возможность школам и вузам проводить онлайн занятия на нашей платформе</p>
            </div>
          </div>
    </main>
    <footer>
        <p>EasyEdu &copy; 2021</p>
    </footer>
</body>
</html>